@font-face {
  font-family: 'HelveticaNeue';
  src: url("font/HelveticaNeueW23forSKY-Reg.eot") format("embedded-opentype"), 
  url("font/HelveticaNeueW23forSKY-Reg.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
  
@font-face {

  font-family: 'Din regular';

  src: url("font2/DinNextRegular.eot") format("embedded-opentype"), 

  url("font/DinNextRegular.svg") format("svg"),

  url("font2/DinNextRegular.woff") format("ttf"),

  url("font2/DinNextRegular.woff") format("woff"),

  url("fon2t/DinNextRegular.woff2") format("woff2");

  font-weight: normal;

  font-style: normal; }

  

@font-face {

  font-family: 'Din light';

  src: url("font2/DinNextLight.eot") format("embedded-opentype"), 

  url("font/DinNextLight.svg") format("svg"),

  url("font2/DinNextLight.woff") format("ttf"),

  url("font2/DinNextLight.woff") format("woff"),

  url("font2/DinNextLight.woff2") format("woff2");

  font-weight: light;

  font-style: light; }

  

@font-face {

  font-family: 'Din meduim';

  src: url("font2/DinNextMedium.eot") format("embedded-opentype"), 

  url("font2/DinNextMedium.svg") format("svg"),

  url("font2/DinNextMedium.woff") format("ttf"),

  url("font2/DinNextMedium.woff") format("woff"),

  url("font2/DinNextMedium.woff2") format("woff2");

  font-weight: meduim;

  font-style: meduim; }

  

@font-face {

  font-family: 'Din bold';

  src: url("font2/DinNextBold.eot") format("embedded-opentype"), 

  url("font2/DinNextBold.svg") format("svg"),

  url("font2/DinNextBold.woff") format("ttf"),

  url("font2/DinNextBold.woff") format("woff"),

  url("font2/DinNextBold.woff2") format("woff2");

  font-weight: meduim;

  font-style: meduim; }

body
	{
		font-family: 'HelveticaNeue';
		overflow-x:hidden; 
	}
	
[class^="icon-"]:after,
[class*=" icon-"]:after {
  font-family: "untitled-font-1";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up-open-big { display: inline-block; }

.icon-up-open-big:after {
  content: "a";
  font-size: 2.5em;
  display: block;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  color: black;
  -webkit-transition: color .3s;
          transition: color .3s;
}

.icon-up-open-big:hover:after {
	color: white;	
}

.scroll-icon {
	position: absolute;
 	left: 50%;
  bottom: 30px;
  padding: 0 10px;
  	-webkit-transform: translateX(-50%);
  	        transform: translateX(-50%);
}



/* HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.l-left {
	float: left;
}

.l-right {
	float: right;
}

.end {
	margin-top: 30px;
	font-size: 3em;
	font-weight: bold;
	opacity: 0;
	-webkit-transform: translateY(300px);
	        transform: translateY(300px);
	-webkit-transition: opacity, -webkit-transform 1s;
	        transition: opacity, -webkit-transform 1s;
	        transition: opacity, transform 1s;
	        transition: opacity, transform 1s, -webkit-transform 1s;
	-webkit-transition-delay: 1s;
	        transition-delay: 1s;
}




/* NAV STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header-top {
	background: rgba(0, 47, 77, .3);
	height: 0px;
	padding: 0 10px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 12;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	z-index:9999999;
}

h1 {
	line-height: 70px;
	height: 70px;
}

h1 a {
	display: block;
	padding: 0 10px;
}

.toggle-menu {
	width: 50px;
	height: 50px;
	display: inline-block;
	position: relative;
	top: 10px;
}

.toggle-menu i {
	position: absolute;
	display: block;
	height: 2px;
	background: white;
	width: 30px;
	left: 10px;
	-webkit-transition: all .3s;
	        transition: all .3s;
}

.toggle-menu i:nth-child(1) {
	top: 16px;
}

.toggle-menu i:nth-child(2) {
	top: 24px;
}

.toggle-menu i:nth-child(3) {
	top: 32px;
}

.open-menu i:nth-child(1) {
	top: 25px;
	-webkit-transform: rotateZ(45deg);
	        transform: rotateZ(45deg);
}

.open-menu i:nth-child(2) {
	background: transparent !important;
}

.open-menu i:nth-child(3) {
	top: 25px;
	-webkit-transform: rotateZ(-45deg);
	        transform: rotateZ(-45deg);
}

nav {
 	height: 0;
	opacity: 0;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
	background: rgba(0, 47, 77, .25);
	position: fixed;
	top: 70px;
	width: 100%;
	-webkit-transition: all 1s;
    transition: all 1s;
}

.open-menu ~ nav {
	opacity: 1;
 	padding: 80px 0;
	z-index: 15;
	/*height: calc(90vh - 70px);*/
}

nav ul {
	padding: 0 10px;
	
}

nav li {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

nav li a {
	font-size: 18px;
	display: block;
	padding: 10px;
	text-align: center;
	-webkit-transition: background .3s;
	        transition: background .3s;
}

  


/* SECTION STYLES - fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */






/* SLIDENAV STYLES - fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
	background: white;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
}

#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
	width: 16px;
	height: 16px;
	margin: -8px 0 0 -8px;
	background: transparent;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border: 1px solid #f5cb39;
}



/* MQ STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 767px) {
	nav ul {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	nav li {
		margin-top: 1px;
	}
  
  
  
  .scroll-icon {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 50%;
  }
  
  .open-menu ~ nav {
		padding: 20px 0;
	}

	nav li a {
		padding: 3px;
	}
}



#superContainer {
    height: 100%;
    position: relative;

    /* Touch detection for Windows 8 */
    -ms-touch-action: none;

    /* IE 11 on Windows Phone 8.1*/
    touch-action: none;
}
.fp-section {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}
.fp-slide {
    float: left;
}
.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}
.fp-slides {
    z-index:1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
    transition: all 0.3s ease-out;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout:fixed;
    width: 100%;
}
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.fp-slidesContainer {
    float: left;
    position: relative;
}
.fp-controlArrow {
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;
}
.fp-scrollable {
    overflow: scroll;
}
.fp-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
}
#fp-nav.right {
    right: 17px;
}
#fp-nav.left {
    left: 17px;
}
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    left: 50%;
    opacity: 1;
}
.fp-slidesNav.bottom {
    bottom: 17px;
}
.fp-slidesNav.top {
    top: 17px;
}
#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}
#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
.fp-slidesNav ul li {
    display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
	background:#f5cb39;
	border:none;
 }
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
}
#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}
#fp-nav ul li .fp-tooltip.right {
    right: 20px;
}
#fp-nav ul li .fp-tooltip.left {
    left: 20px;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: transparent;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    border: 1px solid #1f91ab;
}

.background_green
{
	background:#165f45;
	height:100%;
}

.background_yallow
{
	background:#f5cb39 !important;
	height:100%;
}

.padding_top_20
{
	padding-top:20px;
}

.white
{
	color:#fff;
}

.right_side h2
{
	font-size:37px;
	font-family: 'HelveticaNeue';
	margin-bottom:20px;
}

.right_side h1
{
	font-size:50px;
	font-family: 'HelveticaNeue';
	margin-bottom:20px;
	color:#165f45;
	margin-top:30%;
	display: inline-table;
}

.right_side p
{
	font-size:18px;
	margin-bottom:20px;
}

.margin_top_50
{
	margin-top:50px;
}

.pull_right
{
	float:right;
}

.padding_0
{
	padding:0;
}

.background_gray
{
	background:#f6f6f6 !important;
}

img
{
	max-width:100%;
}

.parrallex
{
	background: #0c9d62 url(../images/2.png) no-repeat fixed !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-position: center top;
    background-repeat: repeat-y;
    min-height: 340px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 0;
}

.menue-top-in li {
    list-style: none;
    display: inline-block;
    color: #fff;
    padding: 3px 10px;
    margin: 0px;
    font-size: 25px;
	color:#fff;
	
}

.menue-top-in
{
	padding:0;
	margin:0;
}
.menue-top-in li a
{
    
    color: #165f45;
    padding: 3px 5px;
   
	
}


.menue-top-in li a:hover
{
    
    color: #fff;
    padding: 3px 5px;
	text-decoration:none;
   
	
}

.hideinlarge
{
	display:none !important;
}